{% extends "app/base_site.html" %}

{% block title %} Inicio {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-cart-arrow-down"></i></div>
            <div class="count"> {{get_total_compras}} </div>
            <h3>Compras</h3>
            <p>Totales de Maiz Amarillo Duro</p>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-cart-plus"></i></div>
            <div class="count"> {{get_total_ventas}} </div>
            <h3>Ventas</h3>
            <p>Totales de Maiz Amarillo Duro</p>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fa fa-building-o"></i></div>
            <div class="count">{{get_nro_empresas}}</div>
            <h3>Empresas</h3>
            <p>Relacionadas con el CAS</p>
          </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="tile-stats">
            <div class="icon"><i class="fas fa fa-users"></i></div> 
            <div class="count">{{get_nro_productores}} </div>
            <h3>Productores</h3>
            <p>Relacionados con el CAS </p>
          </div>
        </div>
      </div>
      <!--ventana de transacciones -->
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Transacción Compras y ventas<small>Progreso Diario</small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <figure class="highcharts-figure">
                  <div id="container"></div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}

  <!-- highchart.js -->
  <script src="/static/vendors/highcharts-8.1.2/highcharts.js"></script>
  <script src="/static/vendors/highcharts-8.1.2/modules/exporting.js"></script>
  <script src="/static/vendors/highcharts-8.1.2/modules/export-data.js"></script>
  <script src="/static/vendors/highcharts-8.1.2/modules/accessibility.js"></script>
  
  <script type="application/javascript">     
    function textoFecha(fecha){
      var numDiaSem = fecha.getDay(); 
      var numDiaSem = fecha.getDay();     
      var diasSemana = new Array("Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado");
      var diaLetras = diasSemana[fecha.getDay()];   //El día de la semana en letras. getDay() devuelve el dia de la semana.(0-6).
      var devolver = diaLetras+" "+fecha.getDate();
      return devolver;
    }
    
    function sumarDias(fecha, dias){
      fecha.setDate(fecha.getDate() + dias);
      return fecha;
    }


  </script>
  
  <script type="application/javascript">
    Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Compras y Ventas Diarias del Centro de Acopio Sabanilla'
    },
    subtitle: {
        text: 'Porcentejes reales'
    },
    xAxis: {
        categories: [ textoFecha(sumarDias(new Date(),-6)),
                      textoFecha(sumarDias(new Date(),-5)),
                      textoFecha(sumarDias(new Date(),-4)),
                      textoFecha(sumarDias(new Date(),-3)),
                      textoFecha(sumarDias(new Date(),-2)),
                      textoFecha(sumarDias(new Date(),-1)),
                      textoFecha(sumarDias(new Date(), 0)),
                      textoFecha(sumarDias(new Date(), 1)),
                     ],        
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Peso (qq)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} qq</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Compras',
        data: {{get_compras_diario|safe}}

    }, {
        name: 'Ventas',
        data: {{get_ventas_diario|safe}}

    }
    ]
});
    
    


   
    $(function () {


    });
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 
<script>
  {% if messages %}
    var errors = '';
    {% for message in messages %}  
         {% if message.tags %}
         errors += '{{ message }}\n' 
         {% endif %}          
    {% endfor %}
    swal("Error", errors, "error");
  {% endif %}
</script>
{% endblock javascripts %}
