<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="{% url 'inicio' %}" class="site_title"><i class="fa fa-spinner"></i> <span>Centro Acopio</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/img.jpg" alt="..."  class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Bienvenido,</span>
      <h2>{{ user.first_name }} {{ user.last_name }}</h2>     
    </div>
    
  </div>
  <!-- /menu profile quick info -->
  <br>
  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
        <ul class="nav side-menu">
          <li><a><i class="fa fa-cart-arrow-down"></i>Compras <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="{% url 'gestion_compras' %}">Gestión de Compras</a></li>
              <li><a>Productor<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">                  
                  <li><a href="{% url 'crear_productor' %}">Crear Productor</a></li> 
                  <li><a href="{% url 'listar_productores' %}">Listado de Productores</a></li>
                </ul>
              </li>                      
             </ul>
            </li>
          <li><a><i class="fa fa-cart-plus"></i> Ventas <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="{% url 'gestion_ventas' %}">Gestión de Ventas</a></li>
              <li><a>Empresa<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="{% url 'crear_empresa' %}">Crear Empresa</a></li>
                  <li><a href="{% url 'listar_empresas' %}">Listado de Empresas</a></li>
                </ul>
              </li>
              <li><a>Transportista<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="{% url 'crear_responsableTransporte' %}">Crear Transportista</a></li>
                  <li><a href="{% url 'listar_responsableTransporte' %}">Listado de Transportistas</a></li>
                </ul>
              </li>             
            </ul>
          </li>
          <li><a><i class="fa fa-book"></i>Inventarios <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="{% url 'inventario_general' %}">Inventario General</a></li>
              <li><a href="{% url 'listar_bodega' %}">Transacciones en Bodega</a></li>
              <li><a>Articulo<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li class="sub_menu"><a href="{% url 'crear_articulo' %}">Crear Articulo</a></li>
                  <li><a href="{% url 'listar_articulo' %}">Listado de Articulo</a></li>
                </ul>
              </li>
              <li><a>Categoria<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li class="sub_menu"><a href="{% url 'crear_categoria' %}">Crear Categoria</a></li>
                  <li><a href="{% url 'listar_categoria' %}">Listado de Categoria</a></li>
                </ul>
              </li>
              <li><a>Proveedor<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li class="sub_menu"><a href="{% url 'crear_proveedor' %}">Crear Proveedor</a></li>
                  <li><a href="{% url 'listar_proveedor' %}">Listado Proveedores</a></li>
                </ul>
              </li>
              <li><a>Empleado<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li class="sub_menu"><a href="{% url 'crear_empleado' %}">Crear Empleado</a></li>
                  <li><a href="{% url 'listar_empleado' %}">Listado Empleadoss</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a><i class="fa fa-file-text-o"></i>Reportes <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="{% url 'reportes_compras' %}">Reportes de Compras</a></li>
              <li><a href="{% url 'reportes_ventas' %}">Reportes de Ventas</a></li>
              <li><a href="{% url 'reporte_facturacion_compras' %}">Reportes de Facturación de Compras</a></li>
              <li><a href="{% url 'reporte_facturacion_ventas' %}">Reportes de Facturación de Ventas</a></li>
              <li><a href="{% url 'reporte_facturacion_transporte' %}">Reportes de Facturación de Transporte</a></li> 

            </ul>
          </li>
          <li><a><i class="fa fa-wpforms"></i>Facturacion <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="{% url 'facturacion_compra' %}">Facturación de Compras</a></li>
              <li><a href="{% url 'facturacion_venta' %}">Facturación de Ventas</a></li>
              <li><a href="{% url 'facturacion_transporte' %}">Facturación de Transporte</a></li>
            </ul>
          </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

 
  <!-- /menu footer buttons -->
</div>
