{% extends "app/base_site.html" %}

{% block title %} Listado de Empleados {% endblock title %}

{% block stylesheets %}
{{ block.super }}

{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <!-- nav superior -->
      <nav>
        <ul class="breadcrumb">
          <li><a href=" {% url 'inicio' %} ">Inicio</a></li>
          <li class="active">Listado de Empleados</li>
        </ul>
      </nav>    
    <div class="clearfix"></div>
    
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><i class="fa fa-users"></i> Listado de Empleados</h2>            
            <div class="clearfix"></div>
          </div>
          <!-- Presentación de mensajes  -->
          {% if messages %}
           {% for message in messages %}  
             <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible"{% endif %} role="alert">
               <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <strong>¡{{ message.tags|upper }}!</strong> {{ message }}
             </div>
           {% endfor %}
         {% endif %} 
          <form class="form-horizontal form-label-left">                   
            <div class="form-group">
              <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-0">                        
                <div>
                  <a href="{% url 'crear_empleado' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Crear Empleado</a>
                  <a href="{% url 'inventario_general' %}" class="btn btn-primary"><i class="fa fa-book"></i> Inventario General</a>
                </div>
              </div>
            </div>    
          </form>
          <br>                                           
            <div class="x_content">
              <div class="table-responsive">          
                <table id="datatable" class="table table-striped jambo_table dt-responsive nowrap" style="width: 100%;">
                  <thead>
                    <tr class="headings">                                     
                      <th class="column-title text-center" scope="col">Nro </th>                        
                      <th class="column-title text-center" scope="col">Identificación </th>
                      <th class="column-title text-center" scope="col">Productor</th>                     
                      <th class="column-title text-center" scope="col">Dirección </th>
                      <th class="column-title text-center" scope="col">Teléfono</th> 
                      <th class="column-title text-center" scope="col">Correo</th>
                      <th class="column-title text-center" scope="col">Opciones</th>  
                    </tr>
                  </thead>
                  <tbody>
                    {% for empleado in form %}
                    <tr class="even pointer">  
                      <td class="text-center">{{forloop.counter}}</td>                                                            
                      <td class="text-center">{{empleado.identificacion}} </td>
                      <td class="text-center">{{empleado.nombres}} </td>
                      <td class="text-center"> {{empleado.direccion}} </td>
                      <td class="text-center"> {{empleado.telefono}} </td> 
                      <td class="text-center">{{empleado.correo}}</td>
                      <td class="text-center ">                          
                        <a href="{% url 'editar_empleado' empleado.id %}" class="btn btn-info btn-xs" title="Editar empleado"><i class="fa fa-pencil"></i></a> 
                        <a href="{% url 'eliminar_empleado' empleado.id %}" class="btn btn-danger btn-xs" title="Eliminar empleado"><i class="fa fa-trash"></i></a> 
                      </td>
                    </tr>
                    {% endfor %}                   
                  </tbody>
                </table>
              </div>                   
          </div>
          </div>
        </div>
      </div>
  
    </div>  
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <script>
    $(function(){
      $('#datatable').DataTable( {
        language: {
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
          }
      } );

    })
  </script>
 {% endblock javascripts %}


