{% extends "app/base_site.html" %}



{% block title %} Eliminar Empleado {% endblock title %}


{% block content %}
  <div class="right_col" role="main">
    
    <div class="row">
      <div class="clearfix"></div>
    </div>
        <div class="row">
        <div class="col-md-8 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Confirmación de Eliminación</h2>
              
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
               
              <form method="POST"  class="form-horizontal form-label-left input_mask">
                {% csrf_token %}
                    <p><strong>¿Desea eliminar el registro de {{object}} ?</strong></p>
                    <button type="submit" class="btn btn-danger">Confirmar</button>                
                  </div>
                </div>
                          
              </form>
            </div>
          </div>

        </div>
        </div>
      </div>
  </div>
{% endblock content %}


{% block javascripts %}
  {{ block.super}}
  
  <script>
    $(function(){
      $('form').on('submit', function (e) {
          $.ajax({         
            url: window.location.pathname,
            type: "POST",
            data: {},
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function (data) {
              swal("Ingreso de Articulo", "¡Correctamente!", "success"); 
            },
            error: function (data) {       
            },
          });
      });     

    })
  </script>
 {% endblock javascripts %}