{% extends "app/base_site.html" %}

{% block title %} Gestion de Ventas {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Gestión de Ventas de Maiz</h2>
            
            <div class="clearfix"></div>
          </div>

          <div class="x_content">              
              <form class="form-horizontal form-label-left">                         
                    
                  <div class="form-group">
                      <div class="col-md-12 col-sm-6 col-xs-12 col-md-offset-0">                        
                        <div>
                          <a href="{% url 'venta_nueva_maiz' %}" class="btn btn-success"><i class="fa fa-plus-square"></i> Nueva Venta</a>
                          <a href="{% url 'reportes_ventas' %}" class="btn btn-success"><i class="fa fa-file-pdf-o"></i> Reportes de Ventas</a>
                        </div>
                      </div>
                  </div>    
              </form>              
              <br>
              <div class="table-responsive">
                <table id="datatable" class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">                     
                      <th class="column-title text-center">Nro.</th>
                      <th class="column-title text-center">Fecha</th>
                      <th class="column-title text-center">Razón Social Empresa</th>
                      <th class="column-title text-center">Facturación</th>
                      <th class="column-title text-center">Total</th>
                      <th class="column-title text-center">Opciones</th> 
                    </tr>
                  </thead>

                  <tbody>
                    {% for venta in ventas %} 
                      <tr class="even pointer">                      
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td class="text-center">{{ venta.fechaVenta }}</td>
                        <td class="text-center">{{ venta.idEmpresa }}</td>
                        <td class="text-center">
                          {% if venta.pendiente %} <span class="label label-info">Pendiente</span>
                          {% else %} <span class="label label-success">Finalizada</span> {% endif %}</td>
                        <td class="text-center"> <span class="badge badge-default"> {{ venta.total }} </span></td>
                        <td class="text-center ">                          
                          <a href="{% url 'editar_venta' venta.pk %}" class="btn btn-info btn-xs" title="Gestionar venta"><i class="fa fa-wrench"></i></a>
                          <a href=" {% url 'pesaje_venta_doc_pdf' venta.pk %} " class="btn btn-info btn-xs" title="Descargar Pesajes"><i class="fa fa-file-pdf-o"></i></a>
                          <button {% if not venta.pendiente %} disabled {% endif %} id="{{ venta.pk }}" class="btn btn-danger btn-xs btnAnularVenta" title="Anular venta"><i class="fa fa-ban"></i></button>
                        </td>
                      </tr>
                    {% endfor %}                                  
                </tbody>
              </table>
              </div>                      
          </div>
        </div>

      </div>
  </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
    <!-- jquery.inputmask -->
  <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>

  <!-- Datatables -->
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>

  <!-- Sweet Alert -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    $(function () {

      $('#datatable').DataTable( {
        language: {
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
          }
      });

      $("#datatable tbody").on("click", ".btnAnularVenta",function () {
        swal({
          title: "¿Está seguro de Eliminar esta venta?",
          text: "¡Una vez Eliminada, no podrá ser recuperada!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            
            $.ajax({
              data: {
                "pk_venta": $(this).attr('id')
              },
              url: "{% url 'anular_venta' %}",
              type: "POST",
              success: function (data) {
                location.reload();
              },
              error: function () {
                swal("Oops", "¡Ocurrió un problema!", "error");
              }
            });
          }
        });
      });
    });
  </script>
 {% endblock javascripts %}
