{% extends "app/base_site.html" %}

{% block title %} Listado de Transportista {% endblock title %}

{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <nav>
        <ul class="breadcrumb">
          <li><a href=" {% url 'inicio' %} ">Inicio</a></li>
          <li class="active">Listado de Transportista</li>
        </ul>
      </nav>     
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><i class="fa fa-bus"></i> Listado de Transportista</h2>            
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
          <!-- Presentación de mensajes  -->
          {% if messages %}
          {% for message in messages %}  
          <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible"{% endif %} role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>¡{{ message.tags|upper }}!</strong> {{ message }}
          </div>
          {% endfor %}
          {% endif %} 
          <form class="form-horizontal form-label-left">                   
            <div class="form-group">
              <div class="col-md-12 col-sm-6 col-xs-12 col-md-offset-0">                        
                <div>
                  <a href="{% url 'crear_responsableTransporte' %}" class="btn btn-primary btn-flat"><i class="fa fa-plus-square"></i> Nuevo Transportista</a>
                </div>
              </div>
            </div>    
          </form>
          <br>                                                          
              <div class="table-responsive">      
                <table id="tblTransportista" class="table table-striped jambo_table dt-responsive nowrap" style="width: 100%;">
                  <thead>
                    <tr class="headings">
                      <th class="column-title text-center" scope="col">Nro</th>                                                             
                      <th class="column-title text-center" scope="col">Identificaciòn</th>
                      <th class="column-title text-center" scope="col">Nombres</th>                     
                      <th class="column-title text-center" scope="col">Dirección</th>
                      <th class="column-title text-center" scope="col">Teléfono</th> 
                      <th class="column-title text-center" scope="col">Correo</th>
                      <th class="column-title text-center" scope="col">Placa Trailer</th>                      
                      <th class="column-title text-center" scope="col">Opciones</span></th>  
                    </tr>
                  </thead>
                  <tbody>
                    {% for transportista in form %}
                    <tr class="even pointer"> 
                      <td class="text-center"> {{forloop.counter}} </td>                                                            
                      <td class="text-center">{{transportista.identificacion}} </td>
                      <td class="text-center">{{transportista.nombre}} </td>
                      <td class="text-center"> {{transportista.direccion}} </td>
                      <td class="text-center"> {{transportista.telefono}} </td> 
                      <td class="text-center">{{transportista.correo}}</td>                      
                      <td class="text-center">{{transportista.placaTrailer}}</td>
                      <td class="text-center ">
                        <a href="{% url 'editar_responsableTransporte' transportista.id %}" class="btn btn-info btn-xs" title="Gestionar empresa"><i class="fa fa-pencil"></i></a>
                        <a href="{% url 'eliminar_responsableTransporte' transportista.id %}" class="btn btn-danger btn-xs" title="Gestionar empresa"><i class="fa fa-trash"></i></a>
                      </td> 
                    </tr>
                    {% endfor %}                   
                  </tbody>
                </table> 
              </div>                                     
          </div>
          </div>
        </div>
      </div>
  </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
   <script>
    $(function(){

      $('#tblTransportista').DataTable( {
        language: {
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
          }
      });

    })
  </script>
 {% endblock javascripts %}


