{% extends "app/base_site.html" %}

{% block title %} Nueva Venta {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
  
  <!-- plugin autocompletado -->
  <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">

    <div class="row">
      <!-- form para el ingreso de los datos de una nueva compra -->
      <div class="clearfix"></div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Pesaje Venta de Maiz</h2>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">

            <div class="form-horizontal form-label-left">
              <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-3">Empresa:</label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="input-group">
                    <input type="text" id="empresa" class="form-control" 
                    placeholder="Nombre de la Empresa">
                    <span class="input-group-btn">
                      <button id="btnLimpiarE" type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>
                    </span>
                  </div>       
                </div>
                <label class="control-label col-md-2 col-sm-2 col-xs-3">Transportista:</label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="input-group">
                    <input type="text" id="transportista" class="form-control" 
                    placeholder="Nombre del Transportista">
                    <span class="input-group-btn">
                      <button id="btnLimpiarRT" type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>
                    </span>
                  </div>       
                </div>
              </div>              
              <div class="form-group">
                  <label class="control-label col-md-2 col-sm-4 col-xs-12">Observación:</label>
                  <div class="col-md-10 col-sm-6 col-xs-12">
                    <textarea id="observacion" class="form-control" rows="2" placeholder="..."></textarea>
                  </div>             
              </div>              
            </div>
            <div class="divider-dashed"></div>
          </div>

          <div class="form-horizontal form-label-left">
            <div class="form-group">
              <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                <input id="peso_bruto" type="number" class="form-control has-feedback-left" placeholder="Peso Bruto" min=0>
                <span class="fa fa-bus form-control-feedback left" aria-hidden="true"></span>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                <input id="peso_tara" type="number" class="form-control" placeholder="Peso Tara" min=0>

                <span class="fa fa-bus form-control-feedback right" aria-hidden="true"></span>
              </div>

              <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                <select id="factor_conversion" class="form-control">
                  <option value="default" selected disabled>Seleccione un valor</option>
                  <option>45.36</option>
                  <option>45.37</option>
                  <option>45.38</option>
                  <option>45.39</option>
                  <option>45.40</option>
                </select>
              </div>
            </div>

            <div class="form-group form-label-left">
              <div class="col-md-2 col-sm-2 col-xs-12">
                <label class="control-label">Peso Neto:</label>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-12">
                <input id="peso_neto" type="number" class="form-control" readonly="readonly" value="0">
              </div>
              <div class="col-md-2 col-sm-2 col-xs-12">
                <label class="control-label">Peso Quintales:</label>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-12">
                <input id="peso_quintales" type="number" class="form-control" readonly="readonly" value="0.00">
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="btn-group btn-group-justified">
                  <div class="btn-group" role="group">
                    <button id="btnCalcular" class="btn btn-primary"><span class="fa fa-calculator"></span>
                      Calcular</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button id="btnAgregarPesaje" class="btn btn-success" disabled><span class="fa fa-plus"></span>
                      Agregar</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button id="btnEditarPesaje" class="btn btn-warning" disabled><span class="fa fa-edit"></span>
                      Editar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="divider-dashed"></div>
            <div class="form-group">
              <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <button id="btnGuardar" class="btn btn-success"><span class="fa fa-save"></span> Guardar Venta</button>
                <a class="btn btn-default" href="{% url 'gestion_ventas' %}"><span class="fa fa-undo"></span>
                  Regresar</a>
              </div>
            </div>

          </div>
          <br>

          <div class="table-responsive">
            <table id="tabla_pesaje" class="table table-striped jambo_table bulk_action">
              <thead>
                <tr class="headings">
                  <th class="column-title" scope="col" style="width: 7%;">Nro.</th>
                  <th class="column-title text-center" scope="col" style="width: 18%;">Fecha </th>
                  <th class="column-title text-center" scope="col" style="width: 12.5%;">Peso Bruto </th>
                  <th class="column-title text-center" scope="col" style="width: 12.5%;">Peso Tara </th>
                  <th class="column-title text-center" scope="col" style="width: 12.5%;">Peso Neto </th>
                  <th class="column-title text-center" scope="col" style="width: 12.5%;">F. Conversión </th>
                  <th class="column-title text-center" scope="col" style="width: 12.5%;">Peso Quintales </th>
                  <th class="column-title text-center" scope="col" style="width: 12.5%;">Opciones</th>
                </tr>
              </thead>

              <tbody></tbody>
            </table>

          </div>

          <div class="form-group">
            <div class="col-md-9 col-md-offset-3">
              <label class="control-label col-md-3 col-sm-3 col-xs-3 ">Total:</label>
              <div class="col-md-9 col-sm-9 col-xs-9">
                <label id="totalPesajes" class="control-label col-md-3 col-sm-3 col-xs-3 has-feedback-left">0.00</label>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- /Form para el ingreso de los datos de una empresa nueva -->
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- jquery.inputmask -->
  <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>

  <!-- Datatables --> 
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
   <!-- Datatables -->
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
     
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    $(function () {
      
      var empresa = null;
      var responsable_transporte = null; 
      var pesaje_editar = null;
      var total_bodega = 0;

      //** Declarar la tabla de Pesajes
      var tablaPesaje = $('#tabla_pesaje').DataTable({
        data: [],
        columnDefs: [
          {
            "targets": -1,
            "data": null,
            class : 'text-center',
            "defaultContent": "<div class='a-center'><button class='btn btn-info btn-xs tbEditarPesaje' title='Editar Pesaje'>" +
              "<i class='fa fa-pencil'></i></button><button class='btn btn-danger btn-xs tbEliminarPesaje' title='Eliminar Pesaje'>" +
              "<i class='fa fa-trash-o'></i></button></div>"
          },
          {
            targets: [6],
            class: 'text-center',
            render: function (data, type, row) {
              return '<span class="badge badge-default">' + data + '</span>';
              }
          },
          {
            targets: [1,2,3,4,5,7],
            class: 'text-center',
            
          },
        ],
        displayLength: 5,
        columns: [
          { "data": null }, //Contador de filas
          { "data": "fecha" },
          { "data": "pesoBruto" },
          { "data": "pesoTara" },
          { "data": "pesoNeto" },
          { "data": "factorConversion" },
          { "data": "pesoQuintales" },
          { "data": null }, //Botones editar y eliminar
        ],
        language: {
          "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
        }
      });

      //** Contador de Pesajes
      tablaPesaje.on('order.dt search.dt', function () {
        tablaPesaje.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
          cell.innerHTML = i + 1;
        });
      }).draw();

      //** Calcular el Pesaje $('#peso_bruto').val() != null ** $('#peso_tara').val() != null)
      $("#btnCalcular").on('click', function () {
        if ($('#factor_conversion').val() != null &&  $('#peso_bruto').val().length != 0  &&  $('#peso_tara').val().length != 0 ) { // Si no se selecciona un factor
          let pesoNeto = calcularPesoNeto();
          if(pesoNeto<0){
            $("#btnAgregarPesaje").attr("disabled", true);
            swal("Warning", "¡Datos ingresado para el calculo de suma incorrecto!", "warning"); 
          } else if (pesaje_editar != null) { //Si es una edición de Pesaje
            $("#btnEditarPesaje").attr("disabled", false);
            $('#peso_neto').val(pesoNeto);
            $('#peso_quintales').val(calcularPesoQuintales(pesoNeto));     
          } else if(pesoNeto > 0 ){
            $("#btnAgregarPesaje").attr("disabled", false);
            $('#peso_neto').val(pesoNeto);
            $('#peso_quintales').val(calcularPesoQuintales(pesoNeto));     
          }          
        } else {          
          swal("Warning", "¡Debe ingresar todos los campos de pesaje!", "warning");
        }
      });
      
      //** Agregar un nuevo Pesaje a la tabla
      $('#btnAgregarPesaje').on('click', function () {
        if($('#peso_neto').val() > 0  &&  $('#peso_bruto').val() > 0 && $('#peso_tara').val() > 0 ){
          let pesajeNuevo = convertPesajeToJson(new Date().toLocaleString(), $('#peso_bruto').val(), $("#peso_tara").val(),
          $('#peso_neto').val(), $('#factor_conversion').val(), $('#peso_quintales').val());
          tablaPesaje.rows.add(pesajeNuevo).draw(false);
          $(this).attr("disabled", true);
          $("#totalPesajes").text(calcularTotalPesaje());
          limpiarCamposCalculo();
          cargarBodegaMaiz();
        }else {
          swal("Warning", "¡Valores ingresados son incorrectos2!", "warning");
        }
        
      });

      //** Editar un Pesaje de la tabla
      $('#btnEditarPesaje').on('click', function () {
        pesaje_editar.remove().draw(false);
        pesaje_editar = null;
        
        let pesajeEditado = convertPesajeToJson(new Date().toLocaleString(), $('#peso_bruto').val(), $("#peso_tara").val(),
          $('#peso_neto').val(), $('#factor_conversion').val(), $('#peso_quintales').val());
        tablaPesaje.rows.add(pesajeEditado).draw(false);

        $(this).attr("disabled", true);
        $("#totalPesajes").text(calcularTotalPesaje());
        limpiarCamposCalculo();

        swal("Success", "¡Pesaje editado correctamente!", "success");
      });

      //** Buscar y cargar Empresa
      $("#btnBuscar").on('click', function () {        
        console.log($('#nro_ruc').val())
        $.ajax({
          data: {
            "nro_ruc": $('#nro_ruc').val()
          },
          url: "{% url 'buscar_empresa' %}",
          type: "POST",
          success: function (data) {
            console.log(data)
            if (data.length > 0) { //Si data tiene registros
              empresa = data[0];
              $("#nom_empresa").val(empresa.fields.razonSocial);
            } else {
              $("#nom_empresa").val(""); //Borrar nombre del empresa
              empresa = null;
              console.log("Empresa no existe.");
            }
          },
          error: function () {
            console.log("Hubo un problema.");
          }
        });
      });
 
        //** autocompletado de los reponsables de transporte
      $("#transportista").autocomplete({
        source: function(request,response){
          $.ajax({         
            url: "{% url 'buscar_responsable_transporte' %}",
            type: "POST",
            data: { 
              'action': 'autocomplete',
              'term': request.term
            },
            success: function (data) {
              response(data);
            },
            error: function () {
              console.log("Hubo un problema.");
            }
          });
        },
        delay: 500,
        minLength: 3,
        select: function( event, ui ) {
          responsable_transporte = ui.item
          console.log(responsable_transporte.id) 
        }    
      });
    
      //Limpiar campo de busqueda de responsable de transporte
      $('#btnLimpiarRT').on('click', function () {
        $("#transportista").val("");
        });
      
      //** autocompletado de empresa
      $("#empresa").autocomplete({
        source: function(request,response){
          $.ajax({         
            url: "{% url 'buscar_empresa_autocomplete' %}",
            type: "POST",
            data: { 
              'action': 'autocomplete',
              'term': request.term
            },
            success: function (data) {
              response(data);
            },
            error: function () {
              console.log("Hubo un problema.");
            }
          });
        },
        delay: 500,
        minLength: 3,
        select: function( event, ui ) {
          empresa = ui.item
          console.log(empresa.id)           
        }    
      });
    
      //Limpiar campo de busqueda de la empresa
      $('#btnLimpiarE').on('click', function () {
        $("#empresa").val("");
        });


      //** Eliminar un Pesaje de la tabla
      $('#tabla_pesaje tbody').on( 'click', '.tbEliminarPesaje', function () {
        let fila = tablaPesaje.row($(this).parents('tr'));
        fila.remove().draw(false);
        $("#totalPesajes").text(calcularTotalPesaje());

        swal("Success", "¡Pesaje eliminado correctamente!", "success");
      });

      //** Editar un Pesaje de la tabla
      $('#tabla_pesaje tbody').on( 'click', '.tbEditarPesaje', function () {
        pesaje_editar = tablaPesaje.row($(this).parents('tr'));
        let data_pesaje = pesaje_editar.data();
        
        //Cargar los datos de la tabla al formulario
        $('#peso_bruto').val(data_pesaje.pesoBruto);
        $('#peso_tara').val(data_pesaje.pesoTara);
        $("#factor_conversion").val(data_pesaje.factorConversion);
        $('#peso_neto').val(data_pesaje.pesoNeto);
        $('#peso_quintales').val(data_pesaje.pesoQuintales);

        $("#btnEditarPesaje").attr("disabled", false);
        $("#totalPesajes").text(calcularTotalPesaje());
      });
      //** Obtener el maíz en Stock
      function cargarBodegaMaiz() {
        $.ajax({
          url: "{% url 'obtener_maiz' %}",
          type: "POST",
          success: function (data) {  
            total_bodega = parseFloat(data);
            console.log(total_bodega);
          },
          error: function () {            
            total_bodega = 0;
          }
        });
      }

      //** Guardar Pesajes
      $("#btnGuardar").on('click', function () {
        let total_pesajes = parseFloat(calcularTotalPesaje());
        if (total_pesajes > 0 && empresa != null && responsable_transporte !=null) { //Si hay Pesajes en la tabla y empresa 
       
         
          if (total_pesajes <= total_bodega) { //Si en la Bodega hay más cantidad que la requerida en la venta
            let datos_tabla = tablaPesaje.rows().data();
            let pesajes = $.makeArray();
            let pk_empresa = empresa.id;          
            let pk_responsable_transporte = responsable_transporte.id;//nuevo

            for (let i = 0; i < datos_tabla.length; i++) {
              pesajes.push(datos_tabla[i]);
            }
            $.ajax({
              data: {
                "pesajes":JSON.stringify(pesajes), "pk_empresa":pk_empresa,"pk_responsable_transporte":pk_responsable_transporte, 
                "total_pesajes": total_pesajes, "observacion": $("#observacion").val()
              },
              url: "{% url 'guardar_pesajes_venta' %}",
              type: "POST",
              success: function (data) {
                swal("Success", "¡Venta guardada correctamente!", "success");
                //Limpiar todos los campos y tabla
                limpiarCamposVenta();
              },
              error: function () {
                swal("Oops", "¡Ocurrió un problema!", "error");
              }
            });
          } else {
            swal("¡Stock insuficiente!", "Cantidad de Maiz no disponible."+total_pesajes+ "bodega"+total_bodega, "error");
          }

        } else {
          swal("Warning", "No ha ingresado todos los datos.", "warning");
        }
      });      
      
      

      function calcularPesoNeto() {
        let pesoBruto = parseInt($('#peso_bruto').val());
        let pesoTara = parseInt($('#peso_tara').val());
        return pesoBruto - pesoTara;
      }

      function calcularPesoQuintales(pesoNeto) {
        let factorConversion = parseFloat($("#factor_conversion").val());
        return (pesoNeto / factorConversion).toFixed(2);
      }

      //** Convertir el Pesaje en un Json
      function convertPesajeToJson(fecha, pesoBruto, pesoTara,
        pesoNeto, factorConversion, pesoQuintales) {
        return [{
          "fecha": fecha, "pesoBruto": pesoBruto, "pesoTara": pesoTara,
          "pesoNeto": pesoNeto, "factorConversion": factorConversion, "pesoQuintales": pesoQuintales
        }];
      }

      //** Calcular Total de Pesajes
      function calcularTotalPesaje() {
        let pesajes = tablaPesaje.rows().data();
        let suma = 0;
        for (let i = 0; i < pesajes.length; i++) {
          suma += parseFloat(pesajes[i].pesoQuintales);
        }
        return suma.toFixed(2);
      }
    
      //** Limpiar todos los campos de la compra
      function limpiarCamposVenta() {
        $('#nro_ruc').val("");
        $("#empresa").val("");
        $('#transportista').val("");
        empresa = null;
        limpiarCamposCalculo();
        $("#totalPesajes").text("0.00");
        tablaPesaje.rows().remove().draw(false);
        $('#observacion').val("");
      }

      //** Limpiar los campos del Cálculo de Pesaje
      function limpiarCamposCalculo() {
        $('#peso_bruto').val("");
        $('#peso_tara').val("");
        $("#factor_conversion").val("default");
        $('#peso_neto').val("0");
        $('#peso_quintales').val("0.00");
      }
    });

  </script>

{% endblock javascripts %}