{% extends "app/base_site.html" %}

{% block title %} Crear Articulo {% endblock title %}


{% block content %}
  <div class="right_col" role="main">
    <div class="">
      
      <div class="clearfix"></div>

      <div class="row">
        <!-- form para el ingreso de los datos de un articulo nueva -->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Crear Articulo</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />              
              <form method="POST" class="form-horizontal form-label-left">
                {% csrf_token %}
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12 has-feedback-left">Descripción</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form.descripcion}}                                                        
                    <span class="fa fa-archive form-control-feedback right" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Unidad</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form.unidadMedida}}                    
                  </div>
                </div> 
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Categoría</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    {{form.idCategoria}}
                  </div>
                </div>  
                <br>                          
                <div class="card-footer">                  
                  <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                    <button type="submit" class="btn btn-primary ">
                      <i class="fa fa-save"></i> Guardar registro
                    </button>
                    <a href="{% url 'listar_articulo' %}" class="btn btn-danger btn-flat">
                      <i class="fa fa-times"></i> Cancelar
                    </a>
                  </div>                  
                </div> 

              </form>
            </div>
          </div>
        </div>
        <!-- /Form para el ingreso de los datos de una empresa nueva -->

        
      </div>
    
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
    <!-- jquery.inputmask -->
  <script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <!-- Sweet Alert -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <script>
    {% if form.errors %}
      var errors = '';
      {% for field in form %}
        {% for error in field.errors %}
          errors += '{{error}}\n';
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
      swal("¡WARNING!", errors, "error" );
    {% endif %}
  </script>
 {% endblock javascripts %}
