{% extends "app/base_site.html" %}
{% block stylesheets %}
{{ block.super }}
<link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">



<!-- plugin de seleccion -->
<link href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css" rel="stylesheet">
<!-- plugin select2 -->
<link href="/static/vendors/select2/dist/css/select2.min.css" rel="stylesheet">

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock stylesheets %}


{% block title %} Facturación Compras {% endblock title %}


{% block content %}
<div class="right_col" role="main">
  

  <!-- /Form para empresa nueva -->
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Compras Pendientes</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="form-group">
            <label class="control-label">Buscador de Productores:</label>
            <select id="nombres_productor" class="form-control" name="state"style="width: 100%;">
              <option></option>
              {% for pro in productores %}
              <option value="{{ pro.pk }}">{{ pro.nombres }}</option>
              {% endfor %}
            </select>
          </div>

          <hr>

          <div class="clearfix"></div>

          <!-- /  -->
          <div class="table-responsive">
            <table id="tabla_facturacion" class=" table table-striped jambo_table" width="100%">
              <thead>
                <tr>
                  <th>Nro.</th>
                  <th>Fecha</th>
                  <th>Peso Neto (qq) </th>
                </tr>

              </thead>

              <tbody>
              </tbody>
            </table>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="btn-group  btn-group-center">
                <div class="btn-group" role="group">
                  <button id="btnGuardarDocumento" class="btn btn-success" disabled><span class="fa fa-plus"></span>
                    Guardar Documento</button>
                </div>
              </div>
            </div>
          </div><!---->
        </div>
      </div>

    </div>
    <div class="col-md-4 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Facturación Compras</h2>

          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="form-group">
            <label>Tipo de Documento:</label>
            <select name="tipo_documento" id="tipo_documento" class="form-control">
              {% for clave, valor in tiposDocumento.items %}
              <option value="{{ clave }}" {% if forloop.first %} selected {% endif %}>{{ valor }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label>Número de Documento:</label>
            <input name="" id="nro_documento" class="form-control">
          </div>

          <div class="form-group">
            <label>Fecha de compra:</label>
            <input id="fecha_compra" type="date" name="fecha" class="form-control">
          </div>

          <div class="form-group">
            <label>Productor:</label>
            <input id="productor" type="text" class="form-control" readonly>
          </div>

          <div class="form-group">
            <label>Cantidad (qq):</label>
            <input id="cantidad" type="number" class="form-control" value="0.00" readonly>
          </div>

          <div class="form-group">
            <label>Precio Unitario ($):</label>
            <input id="precio_unitario" type="number" class="form-control" min="0" step="0.01" required>
          </div>

          <div class="form-group">
            <label>Total a Pagar ($):</label>
            <input id="total" type="number" class="form-control" value="0.00" readonly>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}
{{ block.super}}
<!-- jquery.inputmask -->
<script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
 <!-- jquery.inputmask -->
<script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
<!-- datatables -->
<script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>



<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
<!-- select2 -->
<script src="/static/vendors/select2/dist/js/select2.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $(function () {
    var pk_productor = null;
    var comprasSeleccionadas = null;
    var PRECIO_UNITARIO = "14.00"; //Constante en caso de cambio del precio unitario

    //** Declarar la tabla de Pesajes
    var tablaFacturacion = $('#tabla_facturacion').DataTable({
      data: [],
      columnDefs: [
        {
          targets: [0,1,2],
          class: 'text-center',
          orderable: true,           
        },
        {
          targets: [2],
          class: 'text-center',
          render: function (data, type, row) {
          return '<span class="badge badge-default">' + data + '</span>';
          }
        },
      ],
      displayLength: 5,
      columns: [
        { "data": null }, //Contador de filas 
        { "data": "fechaCompra", "render": function (data) {
            return moment(data).format("DD-MM-YYYY");
          } 
        },
        { "data": "total" },
      ],
      select: {
        "style": "multi",
      },
      language: {
        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json",
        "select": {
          "rows": {
            _: "<span style='font-weight: bold;'>%d compras seleccionadas</span>",
            0: "<span style='font-weight: bold;'>0 compras seleccionadas</span>",
            1: "<span style='font-weight: bold;'>1 compra seleccionada</span>"
          }
        }    
      }
    });

    //** Contador de Pesajes
    tablaFacturacion.on('order.dt search.dt', function () {
      tablaFacturacion.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
        cell.innerHTML = i + 1;
      });
    }).draw();

    $("#tabla_facturacion tbody").on("mouseover", "tr", function () {
      $(this).css("cursor", "pointer");
    });

    $('#nro_documento').inputmask({
      mask: '999_999_9999',
      clearIncomplete: true,
      positionCaretOnClick: 'none'
    });
    
    $("#fecha_compra").val(moment().format('YYYY-MM-DD'));    

    $("#precio_unitario").val(PRECIO_UNITARIO);

    $("#nombres_productor").select2({
      placeholder: "Seleccione un productor",
      allowClear: true,
    });

    //Seleccionar Productor y Cargar compras
    $("#nombres_productor").on("select2:select", function (e) {
      let datosProductor = e.params.data;
      pk_productor = $(this).val();
      //Obtener compras
      $.ajax({
        data: {
          "pk_productor": pk_productor
        },
        url: "{% url 'obtener_compras' %}",
        type: "POST",
        success: function (data) {
          tablaFacturacion.rows().remove().draw(false);
          tablaFacturacion.rows.add(data).draw(false);
          $("#productor").val(datosProductor.text);
          $("#btnGuardarDocumento").attr("disabled",false);
        },
        error: function () {
          console.log("Hubo un problema.");
        }
      });
    });

    //Seleccionar compras
    $('#tabla_facturacion tbody').on('click', 'tr', function () {
      $(this).toggleClass('selected');
      realizarCalculos();
      console.log(comprasSeleccionadas);
    });

    $("#btnGuardarDocumento").on("click", function () {
      if (comprasSeleccionadas.length > 0) { //Verificar si seleccionó compras.
        if (validarCampos()) {
          let pks_compras = $.makeArray();
          for (var i = 0; i < comprasSeleccionadas.length; i++) {//Guardo los pk en un arreglo para pasarlos por AJAX
            pks_compras.push(comprasSeleccionadas[i].pk);
          }
          $.ajax({
            data: {
              "pk_productor": pk_productor, "pks_compras": JSON.stringify(pks_compras), "tipo_documento": $("#tipo_documento").val(),
              "nro_documento": $("#nro_documento").val(), "fecha_compra":$("#fecha_compra").val(), "cantidad":$("#cantidad").val(),
              "precio_unitario": $("#precio_unitario").val(), "total": $("#total").val()
            },
            url: "{% url 'guardar_documento' %}",
            type: "POST",
            success: function (data) {
              tablaFacturacion.rows().remove().draw(false);
              swal("Correcto","Documento guardado correctamente","success");
              limpiarCampos();
            },
            error: function () {
              console.log("Hubo un problema.");
            }
          });
        } else {
          swal("Campos vacíos","Debe ingresar todos los campos requeridos","error");  
        }
      } else {
        swal("Sin compras","Debe seleccionar al menos una compra","error");
      }
    });

    //Si hay un cambio en el Select2
    $('#nombres_productor').on('change.select2', function(){
      tablaFacturacion.rows().remove().draw(false);
      $("#productor").val("");
      $("#btnGuardarDocumento").attr("disabled",true);
      realizarCalculos();
    }); 

    $("#precio_unitario").on("change keyup", function () {
      realizarCalculos();
    });

    function validarCampos() {
      return $("#nro_documento").val()!="" && $("#precio_unitario").val()!="";
    }

    function realizarCalculos() {
      comprasSeleccionadas = tablaFacturacion.rows('.selected').data();
      if (comprasSeleccionadas.length > 0) {
        calcularDocCompra(comprasSeleccionadas);        
      } else {
        $("#cantidad").val("0.00");
        $("#total").val("0.00");
      }
    }

    function calcularDocCompra(data) {
      let suma=0;
      let precioUnitario = parseFloat($("#precio_unitario").val());
      for (let i = 0; i < data.length; i++) {
        suma+=parseFloat(data[i].total);
      }
      let subtotal = suma * precioUnitario;
      $("#cantidad").val(suma);
      $("#total").val(subtotal.toFixed(2));
    }

    function limpiarCampos() {
      $("#tipo_documento").val(1);  
      $("#nro_documento").val("");
      $("#fecha_compra").val(moment().format('YYYY-MM-DD')); 
      $("#productor").val("");
      $("#cantidad").val("0.00");
      $("#precio_unitario").val(PRECIO_UNITARIO);
      $("#total").val("0.00");
      $("#tipo_pago").val(1); 
    }
  });
</script>
{% endblock javascripts %}