{% extends "app/base_site.html" %}

{% block title %} Reporte de Facturación Compras {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<!--plugin autocompletado -->
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">

  <div class="row">

    <div class="clearfix"></div>

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Reporte de Facturación de Compras</h2>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">


          <form class="form-horizontal form-label-left" method="POST" action="{% url 'reporte_facturacion_compras' %}">
            {% csrf_token %}
            <div class="form-group">
              <label class="control-label col-md-1 col-sm-1 col-xs-12">Productor:</label>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="input-group">
                  <input type="text" name="nom_productor" id="nom_productor" class="form-control" 
                   value="{{ nom_productor}}">
                  <span class="input-group-btn">
                    <button id="btnLimpiarE" type="button" class="btn btn-danger"><i class="fa fa-times"></i></button>
                  </span>
                </div>                   
              </div>
              <label class="control-label col-md-1 col-sm-1 col-xs-12">Fechas:</label>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <div id="reportrange" class="pull-right input-prepend input-group">
                  <input style="cursor: pointer;" type="text" name="rango_fechas" class="form-control"
                    value='{{ fechaDesde|date:"F j, Y"}} - {{ fechaHasta|date:"F j, Y" }}' readonly>
                  <span class="add-on input-group-addon" style="cursor: pointer;"><i
                      class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                </div>
              </div> 
              <label class="control-label col-md-1 col-sm-1 col-xs-12">Documento:</label>
              <div class="col-md-2 col-sm-2 col-xs-12">
                <select name="tipoDocumento" class="form-control">
                  <option value="Todas" {% if tipoDocumento == "Todas" %} selected {% endif %}>Todas</option>
                  <option value="Nota de venta" {% if tipoDocumento == "Nota de venta" %} selected {% endif %}>Nota de venta</option>
                  <option value="Factura" {% if tipoDocumento == "Factura" %} selected {% endif %}>Factura</option>
                </select>
              </div>                           
            </div>           
            <div class="form-group">
              <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                <button id="btnBuscar" class="btn btn-success"><span class="fa fa-search"></span> Buscar</button>
                <a class="btn btn-primary" href="{% url 'reporte_facturacion_compras' %}"><span class="fa fa-refresh"></span> Restablecer</a>
              </div>
            </div>            
            <div class="ln_solid"></div>          
          </form>         
          
            <table id="facturacion_compras" class="table table-striped jambo_table">
              <thead>
                <tr class="headings">
                  <th class="column-title text-center">Nro.</th>
                  <th class="column-title text-center">Fecha</th>
                  <th class="column-title text-center">Productor</th>
                  <th class="column-title text-center">Documento</th>
                  <th class="column-title text-center">Número</th>
                  <th class="column-title text-center">Cantidad</th>
                  <th class="column-title text-center">Precio U.</th>
                  <th class="column-title text-center">Precio T.</th>
                </tr>
              </thead>
              <tbody>
                {% for compra in compras %}
                <tr class="even pointer">
                  <td class="text-center">{{ forloop.counter }}</td>
                  <td class="text-center">{{ compra.fechaEmision }}</td>
                  <td class="text-center">{{ compra.idProductor }}</td>
                  <td class="text-center">{{ compra.tipoDocumento }}</td>
                  <td class="text-center">{{ compra.numeroDocumento }}</td>
                  <td class="text-center">
                    <span class="badge badge-default">{{ compra.cantidad }}</span>
                 </td>
                 <td class="text-center">{{ compra.preciounitario }}</td>
                 <td class="text-center">
                    <span class="badge badge-default">{{ compra.precioTotal }}</span>
                 </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            
          <!---->
          <div class="row">
            <form action="{% url 'imprimir_facturacion_compras' %}" method="post" target="_blank">
              {% csrf_token %}
              <input id="pks_compras" hidden name="pks_compras" type="text" value="{% for c in compras %}{{ c.pk }} {% endfor %}" required><!--Siempre debe ir con un espacio. Ejem: '23 '-->
              <div class="col-md-12 col-sm-6 col-xs-12 text-center">
                <button id="btnGenerarPDF" class="btn btn-primary"><i class="fa fa-file-pdf-o"></i> Generar PDF</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ block.super}}

<!-- Datatables -->
<script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>


<!-- jquery.inputmask -->
<script src="/static/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- plugin autocompletado -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $(function () {

    $('#facturacion_compras').DataTable( {
      "searching": false,
      "lengthChange": false,
      displayLength: 10,
      language: {
        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
      }
    });

    $("#btnGenerarPDF").on("click", function () {
      if ($("#pks_compras").val() == "") {
        swal("Oops", "No se puede generar el reporte.", "error");  
      }
    });

    //** autocompletado de los reponsables de transporte
    $("#nom_productor").autocomplete({
        source: function(request,response){
          $.ajax({         
            url: "{% url 'buscar_productor_autocomplete' %}",
            type: "POST",
            data: { 
              'action': 'autocomplete',
              'term': request.term
            },
            success: function (data) {
              response(data);
            },
            error: function () {
              console.log("Hubo un problema.");
            }
          });
        },
        delay: 500,
        minLength: 3,
        select: function( event, ui ) {
          empresa = ui.item
          console.log(empresa) 
        }    
      });
    
      //Limpiar campo de busqueda de responsable de transporte
      $('#btnLimpiarE').on('click', function () {
        $("#nom_productor").val("");
        });
  });
</script>
{% endblock javascripts %}

{% block reportrange %}
<script>
  $(function () {
    $('#reportrange').data('daterangepicker').setStartDate('{{ fechaDesde|date:"d/m/Y" }}');
    $('#reportrange').data('daterangepicker').setEndDate('{{ fechaHasta|date:"d/m/Y" }}');    

  });
</script>
{% endblock %}